body{
  background-color: #707070
  padding: 30px;
  color: #000000;
}
 .boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ebe7cd;
  color: #de6500;
  margin-right: 50px;
}
 .boton-2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ebe7cd;
  color: #de6500;
 }
